<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CircleDock.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CircleDock.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CircleDock.UserSettings>
            <setting name="CircleDockCentreImagePath" serializeAs="String">
                <value>\\System\\CentreImage\\CircleDockIconCentreImage.png</value>
            </setting>
            <setting name="CircleDockCentreImageWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CircleDockCentreImageHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ObjectWidthDefault" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="ObjectHeightDefault" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="InitialRadius" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ObjectWidthMin" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ObjectHeightMin" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ObjectWidthMax" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ObjectHeightMax" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="CircleSeparation" serializeAs="String">
                <value>75</value>
            </setting>
        </CircleDock.UserSettings>
    </userSettings>
    <applicationSettings>
        <CircleDock.UserSettings>
            <setting name="ApplicationWebsiteMain" serializeAs="String">
                <value>http://circledock.wikidot.com</value>
            </setting>
            <setting name="ApplicationWebsiteHelp" serializeAs="String">
                <value>http://circledock.wikidot.com</value>
            </setting>
        </CircleDock.UserSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
